@{
    ViewBag.Title = "Home Page";
}

<div class="row align-items-start mt-4">
    <!-- Left Content: Heading and Paragraph with Button -->
    <div class="col-md-6 text-center text-md-start">
        <h1 class="heading"><b>AFRICAN EQUITY BROKERS</b></h1>
        <p class="description">
            Sustainable investment in socio feasible agri business, balancing social responsibility with investment sustainability.
        </p>
        <!-- Container for centered button -->
        <div class="text-center">
            <a href="#about-us-section" class="btn-get-started mt-3 d-inline-block">Get Started</a>
        </div>
    </div>
    <!-- Right Content: Image -->
    <div class="col-md-6 text-end">
        <img src="~/Content/Images/Picture2.png" alt="Agriculture" class="rounded-image" />
    </div>
</div>





<hr class="section-divider">
<section id="about-us-section">
    <!-- Heading -->
    <h1 style="text-align: center;"><b>About Us</b></h1>

    <!-- First Row: Image on the Left, Text on the Right -->
    <div class="row align-items-center my-4">
        <div class="col-md-6">
            <img src="~/Content/Images/Picture3.jpg" alt="About Us Image 1" class="rounded-image">
        </div>
        <div class="col-md-6">
            <p>
                We are an investment company focusing on agricultural-related entities, structuring, implementing, and managing investments. African Equity Brokers is in the agriculture ecosystem and value chain. This includes agricultural operations, Agri-processing, logistics, renewable energy, recycling, and financing. With diverse backgrounds, we manage viable and feasible business potential to set a benchmark in sustainable regenerative agriculture management, striking a balance between meeting the needs of society and industry while preserving environmental health and delivering feasible investment returns.
            </p>
        </div>
    </div>

    <!-- Second Row: Text on the Left, Image on the Right -->
    <div class="row align-items-center my-4">
        <div class="col-md-6">
            <p>
                We wish to focus on food and agribusiness in South Africa with a mission to generate an above-average investment return, as well as demonstrating socio-economic development impacts through equity investments in food and agribusinesses that will lead to better synergies and economies of scale.
                The financial viability under optimal farming management practices. Due to the high quality and high potential yields of agricultural production, we believe investment is feasible. We can achieve this due to potential continuous offtakes, that will be renewed each year agreement, potential buyers of our produce require substantial quantities each year, for local & export markets.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/Picture4.jpg" alt="About Us Image 2" class="rounded-image">
        </div>
    </div>
</section>


<hr/> 
<h1 style="text-align: center;">Overview </h1>
<p>
    Due to the nature of the anticipated expansion of the business, there is a need for capital and resources required to make the expansion plans possible.

    The aim is to serve as a tool to source such resources and capital and more so to serve as a blueprint for African Equity Brokers, to facilitate investment and growth in identified high potential sectors. This will result in more job opportunities for the local people, poverty reduction, Economic transformation of the various locations at large.
    Contributing to the achievement of the Sustainable Development through various projects potential helping improve development of our economies guaranteeing job creation, infrastructure development, social inclusion. Sustainable regeneration agriculture can continually help to promote the business, and we can attract and retain a dedicated trained entrepreneurial workforce.
</p>

<br/>